body {

    color: #f7f7f7;
  }

  .jumbotron {
    background-image: url(/Users/gnrkaur/Desktop/Development/Module11/UFOs/Images/nasa.jpg);
    background-size: 100% 100%;
    text-align: center;
  }